@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url(https://media.istockphoto.com/photos/happy-new-year-2022-picture-id1347103285?b=1&k=20&m=1347103285&s=170667a&w=0&h=rdVmaxSdMIDU29yGqkTYTUdOqpqKyXxKz-qGLXx6sFo=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-weight: normal;
    font-size: 60px;
    margin: -150px 0 40px;
}

.countdown{
    display: flex;
    transform: scale(2);
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.time h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    margin: 0 0 5px;
}

@media (max-width:500px) {
    h1 {
        font-size: 45px;
    }
    .time {
        margin: 5px;
    }
    .time h2 {
        font-size: 12px;
    }
    .time small {
        font-size: 10px;
    }
}